<!DOCTYPE hibernate-configuration PUBLIC 
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
	<property name="dialect">org.hibernate.dialect.SQLServer2008Dialect</property>
 	<property name="connection.url">jdbc:sqlserver://localhost:1433;databaseName=HibernateRen;instanceName=HibernateRen;</property>
	<property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        	<property name="connection.username">ren</property>
        	<property name="connection.password">1</property>
    	<property name="connection.pool_size">10</property>
    	<property name="dialect">org.hibernate.dialect.OracleDialect</property>
    	<property name="show_sql">true</property>
    	<property name="hbm2ddl.auto">update</property>
    	<property name="hibernate.connection.autocommit">false</property>
    	<property name="current_session_context_class">thread</property>
	
	<mapping class="logic.Student" />
    
  </session-factory>
</hibernate-configuration>